<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Thingy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CustomBinding_MNBArfolyamServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.mnb.hu/arfolyamok.asmx" binding="basicHttpBinding" bindingConfiguration="CustomBinding_MNBArfolyamServiceSoap" contract="MnbServiceReference.MNBArfolyamServiceSoap" name="CustomBinding_MNBArfolyamServiceSoap" />
    </client>
  </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <Thingy.Properties.Settings>
            <setting name="NoteFontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="TerminalFontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>870</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="PythonTerminalFontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="SelectedAccent" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="ActivatorKey" serializeAs="String">
                <value>F12</value>
            </setting>
            <setting name="ActivatorModifier1" serializeAs="String">
                <value>Alt</value>
            </setting>
            <setting name="ActivatorModifier2" serializeAs="String">
                <value />
            </setting>
        </Thingy.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Scripting" publicKeyToken="7f709c5b713576e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Dynamic" publicKeyToken="7f709c5b713576e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
