<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CustomBinding_MNBArfolyamServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.mnb.hu/arfolyamok.asmx" binding="basicHttpBinding"
        bindingConfiguration="CustomBinding_MNBArfolyamServiceSoap"
        contract="MnbServiceReference.MNBArfolyamServiceSoap" name="CustomBinding_MNBArfolyamServiceSoap" />
    </client>
  </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
</configuration>
