<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net461" requireReinstallation="true" />
  <package id="Dragablz" version="0.0.3.203" targetFramework="net461" />
  <package id="HtmlRenderer.Core" version="1.5.0.6" targetFramework="net47" />
  <package id="HtmlRenderer.WPF" version="1.5.0.6" targetFramework="net47" />
  <package id="MahApps.Metro" version="1.6.2" targetFramework="net47" />
  <package id="MahApps.Metro.SimpleChildWindow" version="1.5.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net47" />
</packages>