<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CustomBinding_MNBArfolyamServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.mnb.hu/arfolyamok.asmx" binding="basicHttpBinding" bindingConfiguration="CustomBinding_MNBArfolyamServiceSoap" contract="MnbServiceReference.MNBArfolyamServiceSoap" name="CustomBinding_MNBArfolyamServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>